body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.first{
    width: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 2rem;
    background-color: slateblue;
}


h1 {
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration-line: underline;
}

h3 {
    justify-content: center;
    text-align: center;
    color: white;
}

a {
    color: white;
}